@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


:root {
    --background-primary-color: #f2f2f2;
    --button-background-color:#363636;
    --text-secondary-color: #353535;
    --font-colour: black;
    --text-font-family:"Anton", serif;
    --font-size-heading: 8vw;
    --font-size-text: 1.9vw;
    --button-radius: 30px;
    --button-padding: 10px 20px;
}

  
*{
  
    box-sizing: border-box;
    margin: 2px 5px;
    transition: .2s linear;
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: 0;


}
/*----------------header-------------------------------*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

/* Logo styling */
.logo {
    flex: 1;
}

.logo-text {
    font-family: var(--text-font-family);
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: center;
    color: var(--font-colour);
}

/* Menu section */
.menu {
    flex: 2;
    display: flex;
    justify-content: center;
}

.nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.nav a {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1rem;
    transition: border-bottom 0.5s ease;  
    border-bottom: 2px solid transparent;  
}

.nav a:hover {
    border-bottom: 2px solid #333;  
}




/* Button section */
.button-container {
    flex: 1;
    text-align: right;
}

.cta-button {
    font-size: 1vw;
    color: var(--font-colour);
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    border: black 2px solid ;
    cursor: pointer;
}

.cta-button:hover {
    background-color: var(--primary-color);
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .nav {
        display: block;
        text-align: center;
    }

    .nav a {
        display: block;
        padding: 12px 0;
    }

    .dropdown-content {
        position: static;
        width: 100%;
    }
}

/*half page main*/


.text-container {
    text-align: center;
    padding: 50px 0px;
}

.text1 {
    font-family:var(--text-font-family);
    font-size: 1rem;
    color: var(--font-colour);
}

.text2 {
    font-family: var(--text-font-family);
    font-size: 8vw;  
    color: var(--font-colour);
    line-height: 1;
    overflow: hidden;
    margin: 0px;
}

.text-container2 {
    text-align: center;
    padding: 50px 0px;
}

.text3 {
    font-family: var(--text-font-family);
    font-size: 2rem;
    color: var(--font-colour);
    line-height: 1;
    overflow: hidden;
    margin-bottom: 20px;
}

.text4 {
    font-family: sans-serif;
    font-size: 1vw;  
    color: var(--text-secondary-color);
    line-height: 1;
    overflow: hidden;
    margin: 0px 35%;
}




/* image-container */
.image-container {
    position: relative;
    display: flex;
    justify-content: center;  
    align-items: center;  
    width: 100%;  
    height: 500px;  
    margin: 0 auto;  
    overflow: hidden;
}

.image {
    width: 70%;  
    height: 100%;  
    object-fit: cover; 
    border-radius: 20px; 
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    color: white;
    font-size: 8rem; 
    font-family: var(--text-font-family);
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}


/* trainings-overview */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.text-container3 {
    font-size: 1.7rem;
    font-family: var(--text-font-family);
    color: var(--font-colour);
    width: 50%;
    text-align: left;
}

.arrow-image-container {
    font-size: 1.2rem;
    color: var(--font-colour);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
}

.arrow-image-container p {
    display: flex;
    align-items: center;
    margin: 0;
}

.arrow-image-container img {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}


/* training-section-images */
.trainings-section {
    display: flex;
    flex-direction: column;  
    gap: 20px;  
    width: 100%;
    padding: 20px;
}

.training1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: cover;  
    background-position: center;  
    border-radius: 40px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
    transition: background-color 0.3s ease;  
    color: white;  
    height: 280px; 
    margin: 0px 70px;
}

.training1:nth-child(1) {
    background-image: url('images/workout4.jpeg');  
}

.training1:nth-child(2) {
    background-image: url('images/workout2.jpeg');  
}

.training1:nth-child(3) {
    background-image: url('images/yoga.webp');  
}

.para1 {
    margin-top: 150px;
    display: flex;
    font-family: var(--text-font-family);
    font-size: 3rem;
    
}

.arrow-image-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}

.arrow-image-container img {
    width: 40px;
    height: 40px;
    margin-left: 10px;  
}


/* membership-training */
.membership1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.plus-image-container {
    overflow: hidden; 
}

.plus-image-container img {
    width: 80px;
    height: 80px;
    transition: transform 0.3s ease-in-out; 
}

.plus-image-container img:hover {
    cursor: pointer;
    transform: rotate(180deg); 
}

.para2 {
    font-family: var(--text-font-family);
    font-size: 6rem;
    font-weight: 200;
    color: var(--font-colour); 
}


/* footer-designs */
.footer-container {
    background-color: #212121;
    text-align: center;
    padding: 50px 0px;
    position: relative; 
    color: var(--background-primary-color);
}

.footer-container .text5 {
    font-family: var(--text-font-family);
    font-size: 8vw; 
    color: var(--background-primary-color);
    line-height: 1;
    margin: 0;
    overflow: hidden;
}

.footer-container .text6 {
    font-size: 0.9rem;
    padding: 30px 0px;
    color: var(--background-primary-color);
}

.footer-container .arrow-image-container img {
    width: 40px;
    height: 40px;
}

.footer-container .button-container2 {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer-container .cta-button {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.footer-container .cta-button:hover {
    background-color: var(--button-hover-background-color);
}

/* User Profile Container */
.user-container {
    display: flex;
    align-items: center;
    display: none; 
  }
  
  #user-profile {
    display: flex;
    align-items: center;
  }
  
  #user-avatar {
    display: none;
    
  }
  
  #user-button {
    padding: 5px 15px;
    background-color: #ffffff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  
  
  
