@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

:root {
  --background-primary-color: #f2f2f2;
  --button-background-color: #363636;
  --text-secondary-color: #353535;
  --font-colour: black;
  --text-font-family: "Anton", serif;
  --font-size-heading: 8vw;
  --font-size-text: 1.9vw;
  --button-radius: 30px;
  --button-padding: 10px 20px;
}

* {
  box-sizing: border-box;
  transition: 0.2s linear;
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
}
/*----------------header-------------------------------*/
header {
  margin: 2px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

/* Logo styling */
.logo {
    margin: 2px 5px;
  flex: 1;
}

.logo-text {
    margin: 2px 5px;
  font-family: var(--text-font-family);
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: center;
  color: var(--font-colour);
}

/* Menu section */
.menu {
    margin: 2px 5px;
  flex: 2;
  display: flex;
  justify-content: center;
}

.nav {
    margin: 2px 5px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.nav a {
    margin: 2px 5px;
  color: #333;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 1rem;
  transition: border-bottom 0.5s ease;
  border-bottom: 2px solid transparent;
}

.nav a:hover {
  border-bottom: 2px solid #333;
}

/* Button section */
.button-container {
  margin: 2px 5px;
  flex: 1;
  text-align: right;
}

.cta-button {
    margin: 2px 5px;
  font-size: 1vw;
  color: var(--font-colour);
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  border: black 2px solid;
  cursor: pointer;
}

.cta-button:hover {
  background-color: var(--primary-color);
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .nav {
    display: block;
    text-align: center;
  }

  .nav a {
    display: block;
    padding: 12px 0;
  }

  .dropdown-content {
    position: static;
    width: 100%;
  }
}

  /* section one  */
.text-container {
    text-align: center;
    padding: 50px 0px;
}

.text1 {
    font-family:var(--text-font-family);
    font-size: 1rem;
    color: var(--font-colour);
}

.text2 {
    font-family: var(--text-font-family);
    font-size: 8vw;  
    color: var(--font-colour);
    line-height: 1;
    overflow: hidden;
    margin: 0px;
}




/* card */

/* Container for the cards */
.card-container {
    margin-left: 20px;
    display: flex;
    width: 100%;
    max-width: 1500px;
    justify-content: space-between;
  }
  
  /* Styling for each card */
  .card {
    flex: 1;
    padding: 30px ;
    border: 1px solid #ccc;
    text-align: center;
    box-sizing: border-box; /* Ensures padding and border are included in the width */
  }
  