@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

:root {
  --background-primary-color: #f2f2f2;
  --button-background-color: #363636;
  --text-secondary-color: #353535;
  --font-colour: black;
  --text-font-family: "Anton", serif;
  --font-size-heading: 8vw;
  --font-size-text: 1.9vw;
  --button-radius: 30px;
  --button-padding: 10px 20px;
}

* {
  box-sizing: border-box;
  margin: 2px 5px;
  transition: 0.2s linear;
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
}
/*----------------header-------------------------------*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

/* Logo styling */
.logo {
  flex: 1;
}

.logo-text {
  font-family: var(--text-font-family);
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: center;
  color: var(--font-colour);
}

/* Menu section */
.menu {
  flex: 2;
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.nav a {
  color: #333;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 1rem;
  transition: border-bottom 0.5s ease;
  border-bottom: 2px solid transparent;
}

.nav a:hover {
  border-bottom: 2px solid #333;
}

/* Button section */
.button-container {
  flex: 1;
  text-align: right;
}

.cta-button {
  font-size: 1vw;
  color: var(--font-colour);
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  border: black 2px solid;
  cursor: pointer;
}

.cta-button:hover {
  background-color: var(--primary-color);
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .nav {
    display: block;
    text-align: center;
  }

  .nav a {
    display: block;
    padding: 12px 0;
  }

  .dropdown-content {
    position: static;
    width: 100%;
  }
}


/* text -container */
.text-container {
  text-align: center;
  padding: 50px 0px;
}

.text1 {
  font-family:var(--text-font-family);
  font-size: 1rem;
  color: var(--font-colour);
}

.text2 {
  font-family: var(--text-font-family);
  font-size: 4vw;  
  color: var(--font-colour);
  line-height: 1;
  overflow: hidden;
  margin: 0px;
}






/* muscle-section */

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .left-panel {
    width: 45%;
    padding: 20px;
    border-right: 2px solid #ccc;
  }
  
  .right-panel {
    width: 45%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .muscle-svg {
    margin-bottom: 30px;
    cursor: pointer;
    width: 100%; 
    max-width: 400px; 
    display: block; 
    z-index: 1; 
  }
  
  /* Styling for the exercises section */
  #exercise-list {
    margin-top: 20px;
  }
  
  #exercise-list h3 {
    margin-bottom: 10px;
  }
  
  #exercise-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  #exercise-list ul li {
    margin-bottom: 10px;
  }
  


  /* left section videos from youtube */


  #video-container {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    background-color: #f4f4f9;
    border: 1px solid #ddd; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center;
    overflow: hidden; 
  }
  
  #video-container iframe {
    width: 100%;
    height: 315px;
    border: none; 
    border-radius: 6px; 
  }
  
  



/* Apply fill and stroke properties to all paths by default */
svg path {
  stroke-width: 2;
}

/* Remove fill on hover and add a stroke */
svg path:hover {
  fill: #b40e0e;
  stroke: #b40e0e; 
  stroke-width: 1; 
}

svg path.no-hover:hover {
  fill: none;
  stroke: #484a68; 
  pointer-events: none; 
}


/* User Profile Container */ 
.user-container {
    display: flex;
    align-items: center;
    display: none; 
  }
  
  #user-profile {
    display: flex;
    align-items: center;
  }
  
  #user-avatar {
    display: none;
    
  }
  
  #user-button {
    padding: 5px 15px;
    background-color: #ffffff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }



/* footer-designs */



.footer-container {
  background-color: #212121;
  text-align: center;
  padding: 50px 0px;
  position: relative; 
  color: var(--background-primary-color);
}

.footer-container .text5 {
  font-family: var(--text-font-family);
  font-size: 8vw; 
  color: var(--background-primary-color);
  line-height: 1;
  margin: 0;
  overflow: hidden;
}

.footer-container .text6 {
  font-size: 0.9rem;
  padding: 30px 0px;
  color: var(--background-primary-color);
}

.footer-container .arrow-image-container img {
  width: 40px;
  height: 40px;
}

.footer-container .button-container2 {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-container .cta-button {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.footer-container .cta-button:hover {
  background-color: var(--button-hover-background-color);
}
